<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
        block head
    body
        template#myAlert
            div
                div#myAlertBack(onclick='closeMyAlert(event, this.parentNode)')
                div#myAlertContent
                    a(href='#' class='btn btn-caution formClose' onclick='closeMyAlert(event, this.parentNode.parentNode)') X
                    div
        

        block content

        div#alerts
        
        script(src="/script.js")