extends layout 

block content 
    main 
        section(class='panel login center')
            h1(class='text-center') Log In
            hr
            form(name='loginForm' action='/login' method='POST' enctype='multipart/form-data' onsubmit='login(event, this)')
                div(class='formItem')
                    input#password(type="password" class='formText' name='password' placeholder='Password')
                
                div(class='text-end')
                    button(class='btn btn-submit w-100') Submit